.view__row p {
  text-transform: lowercase;
}
.view__row u {
  text-decoration: none;
}
.start__highlight {
  color: black;
}
.start__button{
    cursor: pointer
}
.cookies{
    width: 100%;
    position: absolute;
    padding: 0px !important;

}
